<card class="entry_card">
    <div class="word">
        <h3>{{ word }}</h3>
    </div>
    <div class="def">
        <h4>{{ definition }}</h4>
    </div>
    <div class="meta">
        Created by {{ user_id }} on {{ created_at }}
    </div>
</card>