<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h4 class="word card-title">{{ word }}</h4>
    <p class=" def card-text">{{ definition }}</p>
    <h6 class="created">Created by {{ user_id }} on {{ format_date created_at }}</h6>
  </div>
</div>