<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" >
    <title>L'exiconne</title>
</head>

<body class="bg-black">
    <header>
        <h1>L'exiconne</h1>
        <nav>
            {{#if loggedIn}}
            <!-- <a href="/dashboard">dashboard</a> -->
             <button id="logout" class="btn-no-style">logout</button>
            {{else}}
            <!--<input type="text" id="username-login" placeholder="Username">
            <input type="password" id="password-login" placeholder="Password">
            <button id="login">Login</button> this will all be in the Login partial, I think-->
            <a href="/login">login</a>
            {{/if}}
        </nav>
        
    </header>
    
    <div class="intro">
        <p>L'exiconne is a personal, flexible lexicon.</p>
    </div>
    {{#if loggedIn}}
    <div id="create_entry">
        <input type="text" id="enter-word" placeholder="Enter word">
        <input type="text" id="enter-def" placeholder="Enter definition">
        <button id="create-entry-btn" class="btn-no-style">Create Entry</button>
    </div>
    {{/if}}
    <div id="searchbar">
        <input type="text" id="enter-search" placeholder="Search">
        <button id="search-entry-btn" class="btn-no-style">Search</button>
    </div>
    <main>
        <section>
            {{{ body }}}
        </section>
       
    </main>


    <footer>
        <section id="credit">
            <h3 class="credit-h1">Made By:</h3>
            <h4 class="name">Franklin Brown</h4>
            <h4 class="name">Giovanna Roach</h4>
            <h4 class="name">Angel Sanchez</h4>
            <h4 class="name">Taylor Vaughn</h4>
        </section>
    </footer>

    <script src=""></script>
</body>

</html>