<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="./assets/style.css" rel="stylesheet">
    <title>L'exiconne</title>
</head>

<body>
    <header>
        <h1>L'exiconne</h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
             <button id="logout" class="btn-no-style">logout</button>
            {{else}}
            <!--<input type="text" id="username-login" placeholder="Username">
            <input type="password" id="password-login" placeholder="Password">
            <button id="login">Login</button> this will all be in the Login partial, I think-->
            <a href="/login">login</a>
            {{/if}}
        </nav>
        
    </header>
    
    <div class="intro">
        <p>L'exiconne is a personal, flexible lexicon.</p>
    </div>
    {{#if loggedIn}}
    <div id="create_entry">
        <button id="create-entry-btn" class="btn-no-style">Create Entry</button>
    </div>
    {{/if}}
    <main>
        <!-- <div id="word">WORD</div>
        <div id="definition"></div> -->
        {{{ body }}}
    </main>


    <footer>
        <section id="credit">
            <h1 class="credit-h1">Made By:</h1>
            <h2 class="name">Franklin Brown</h2>
            <h2 class="name">Giovanna Roach</h2>
            <h2 class="name">Angel Sanchez</h2>
            <h2 class="name">Taylor Vaughn</h2>
        </section>
    </footer>

    <script src=""></script>
</body>

</html>