<h2 class="text-info">Your Words</h2>
<ul class="word-list list-group list-group-flush">
  {{#each words as |word|}}
  <li class="container-md">
    {{> entry-info word }}
  </li>
  <br>
  {{/each}}
</ul>
