{{> entry-info entry}}

{{#if loggedIn}}
<div id="options">
    <button class="delete-post-btn">Delete</button>
    <button class="edit-post-btn">Edit</button>
</div>

<script src="/javascript/delete-word"></script>
<script src="/javascript/edit-word"></script>
{{/if}}