header h1 {
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 5vw;
}
body {
    background-image: url(./Images/bigger-background.jpg);
    background-repeat: no-repeat;   
}